@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    max-width: 100%;
    min-width: 450px;   
}
header{
    background-color: darkslategrey;
    border-radius: 80px;
    padding: 30px;
    margin: auto;
    margin-top: 25px;
    margin-left: 30px;
    min-height: 420px;
    max-width: 950px;
    min-width: 360px;
}
header > h1{
    background-color: black;
    color: mediumspringgreen;
    border: 2px solid red;
    border-radius: 27px;
    text-align: center;
}
 div{
    display: block;
    background-color: black;
    background-image: url('imagem/IMG_20220_180812.png');
    border-radius: 100%;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 23px;
    width: 200px;
    height: 252px;
}
header > p{
    color: white;
    text-align: justify;
    padding-top: 15px;
    padding-right: 10px;
    padding-left: 10px;
}
section{
    background-color: darkslategrey;
    border-radius: 80px;
    padding: 30px;
    margin: auto;
    margin-top: 5px;
    margin-left: 30px;
    min-height: 420px;
    max-width: 950px;
    min-width: 360px;
}
section > h2{
    background-color: black;
    color: mediumspringgreen;
    border: 2px solid red;
    border-radius: 27px;
    text-align: center;
    margin-bottom: 20px;
  }
abbr{
    background-color: black;
    border: 2px groove red;
    text-decoration: none;
}
section > h3{
    background-color: black;
    color: mediumspringgreen;
    border: 2px solid red;
    border-radius: 27px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
ol{
    color: white;
    list-style-type: '\0020\0020';
    columns: 2;
    list-style-position: inside;   
}
aside{
    background-color: rgba(220, 20, 60, 0.486);
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 84px;
    border-radius: 20px;
}
aside > h2{
    background-color: black;
    color: mediumspringgreen;
    border: 2px solid red;
    border-radius: 27px;
    text-align: center;
    margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
}
aside > p{
    margin: 20px;
}
p{
    color: white;
    text-align: justify; 
    line-height: 1.5em;
}
strong, b{
    color: black;
}
footer{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-right: 10px;
    
}
